<app-slider [name]="'Formulario'" [size]="'small'"></app-slider>

<div class="center">
    <section class="content">

        <h2 class="subheader">Formulario</h2>

        <form class="mid-form" (ngSubmit)="onSubmit()" #userForm="ngForm">
            <div class="form-group">
                <label for="name">Nombre: </label>
                <input type="text" name="name" #name="ngModel" [(ngModel)]="user.name" required pattern="[a-zA-Z]+">
                <small *ngIf="name.invalid && name.touched">El nombre no es valido</small>
            </div>
            <div class="form-group">
                <label for="lastname">Apellido: </label>
                <input type="text" name="lastname" #lastname="ngModel" [(ngModel)]="user.lastname" required>
                <small *ngIf="lastname.invalid && lastname.touched">El apellido no es valido</small>
            </div>
            <div class="form-group radio">
                <label for="name">Biografia: </label>
                <textarea name="bio" cols="30" rows="10" #bio="ngModel" [(ngModel)]="user.bio" required></textarea>
                <small *ngIf="bio.invalid && bio.touched">La bio no es valida</small>
            </div>
            <div class="form-group radio">
                <input type="radio" name="genre" value="hombre" #genre="ngModel" [(ngModel)]="user.genre" required> Hombre
                <input type="radio" name="genre" value="mujer" #genre="ngModel" [(ngModel)]="user.genre"> Mujer
                <input type="radio" name="genre" value="otro" #genre="ngModel" [(ngModel)]="user.genre"> Otro
                <small *ngIf="genre.invalid && genre.touched">El genero no es valido</small>
            </div>
            <div class="clearfix"></div>

            <input type="submit" value="Enviar" class="btn btn-success" [disabled]="userForm.invalid">
        </form>

        <h2 class="sunheader">Eventos</h2>
        <button (click)="onClick()">Click</button>

        <p>blur</p>
        <input type="text" [(ngModel)]="campo" (blur)="onBlur()">
        <p> {{campo}} </p>

        <p>keypress</p>
        <input type="text" [(ngModel)]="campo" (keypress)="
        onKeyPress($event)">
        <p> {{keyPressed}} </p>

    </section>
    <app-sidebar></app-sidebar>
</div>
<div class="clearfix"></div>