:root {
    --react-color: #61dafb;
}

body {
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
}

.header {
    height: 120px;
    width: 100%;
    background: white;
    border-bottom: 1px solid #ccc;
    border-top: 5px solid var(--react-color);
}

.logo {
    width: 30%;
    font-size: 30px;
    float: left;
    margin-top: 30px;
}

.logo img {
    display: block;
    float: left;
    height: 60px;
    margin-top: -10px;
    margin-right: 10px;
    animation: girar infinite 10s linear;
}

@keyframes girar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.brand {
    margin: 0;
    display: block;
    float: left;
}

.center {
    width: 75%;
    margin: 0px auto;
}

.menu {
    width: 70%;
    float: right;
    font-size: 18px;
}

.menu ul {
    line-height: 85px;
    width: 60%;
    float: right;
}

.menu ul li {
    list-style: none;
    height: 46px;
    display: inline-block;
    margin-left: 15px;
}

.menu a {
    text-decoration: none;
    color: #444;
    transition: 300ms all;
}

.menu a:hover {
    color: var(--react-color);
}

.clearfix {
    clear: both;
    float: none;
}

.slider {
    width: 100%;
    height: 350px;
    /* line-height: 320px; */
    color: white;
    text-shadow: 0 0 5px #444;
    /* degradado */
    background: rgba(73, 155, 234, 1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(73, 155, 234, 1) 0%, rgba(74, 157, 240, 1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(73, 155, 234, 1)), color-stop(100%, rgba(74, 157, 240, 1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(73, 155, 234, 1) 0%, rgba(74, 157, 240, 1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(73, 155, 234, 1) 0%, rgba(74, 157, 240, 1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(73, 155, 234, 1) 0%, rgba(74, 157, 240, 1) 100%);
    background: radial-gradient(ellipse at center, rgba(73, 155, 234, 1) 0%, rgba(74, 157, 240, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#4a9df0', GradientType=1);
}

.slider h1 {
    margin-top: 0.2px;
    padding: 110px 0 0 0;
    text-align: center;
}

.btn-white {
    display: block;
    background: white;
    color: rgb(80, 65, 65);
    padding: 10px;
    width: 120px;
    height: 30px;
    margin: 0 auto;
    font-size: 1.25em;
    text-transform: uppercase;
    text-shadow: none;
    text-decoration: none;
    box-shadow: 0 0 5px rgb(102, 94, 94);
    margin-top: 40px;
    border-radius: 5px;
    transition: 500ms all;
}

.btn-white:hover {
    background: #444;
    color: white;
}

.slider-small {
    height: 150px;
}

.slider-small h1 {
    margin-top: 0.2px;
    padding: 45px 0 0 0;
}

.content {
    width: 70%;
    float: left;
    min-height: 750px;
    margin-right: 25px;
}

.sidebar {
    width: 25%;
    float: left;
}

.sidebar-item {
    background: #f7f7f7;
    padding: 20px;
    margin-top: 30px;
}

.sidebar-item h3 {
    text-transform: uppercase;
    font-size: 1.25em;
    margin: 0 0 15px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(201, 194, 194);
}

.sidebar-item .btn {
    margin-top: 50px;
    margin: 0px auto;
}

.btn {
    display: inline-block;
    background: black;
    color: white;
    padding: 15px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    transition: 300ms all;
    border: none;
    cursor: pointer;
}

.btn-success {
    background-color: green;
}

.btn-success:hover {
    background-color: black;
}

input[type="text"],
textarea {
    width: 100%;
    min-height: 30px;
    border: 1px solid #ccc;
    padding: 3px;
    margin-bottom: 1em;
    transition: 300ms all;
}

textarea {
    width: 100%;
    height: 150px;
    min-width: 100%;
    max-width: 100%;
    min-height: 150px;
    max-height: 300px;
}

.radio {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: left;
}

input[type="text"]:focus,
textarea:focus {
    box-shadow: 0 0 5px #888 inset;
    outline: none;
}

.mid-form {
    width: 50%;
    margin: 0px auto;
}

.mid-form label {
    display: block;
    float: left;
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 1.25em;
}

.footer {
    background: #f7f7f7;
    width: 100%;
    height: 70px;
    line-height: 70px;
    color: #444;
}

.footer p {
    margin: 0;
    padding: 0;
}

.article-item {
    width: 100%;
    border-bottom: 3px solid #eee;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
}

.article-item .image-wrap {
    width: 130px;
    height: 130px;
    overflow: hidden;
    float: left;
    margin-right: 15px;
    border: 1px solid #ccc;
}

.article-item .image-wrap img {
    height: 100%;
    text-align: center;
}

.article-item h2 {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0 0 7px 0;
}

.article-item .date {
    display: block;
    width: 100;
    color: #888;
}

.article-item a {
    display: block;
    color: #444;
    text-decoration: none;
    margin-top: 10px;
}

.article-item a:hover {
    text-decoration: underline;
}

.subheader {
    font-size: 3em;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
    text-transform: capitalize;
}

.article-detail .image-wrap {
    float: none;
    width: 100%;
    height: 300px;
}

.article-detail .image-wrap img {
    width: 100%;
    height: auto;
}

.article-detail .subheader {
    margin-top: 15px;
    margin-bottom: 0;
    border: none;
}

.article-detail p {
    text-align: justify;
}


/* de de 0px a 1488px */

@media(max-width: 1280px) {
    .center {
        width: 95%;
    }
    .menu ul {
        width: auto;
    }
}

@media(max-width: 900px) {
    .logo {
        float: none;
        width: 280px;
        margin: 0 auto;
        margin-top: 20px;
    }
    .menu,
    .menu ul {
        width: auto;
        clear: both;
        float: none;
        width: 100%;
        margin: 0;
        padding: 0;
        line-height: 50px;
    }
    .content {
        float: none;
        width: 100%;
    }
    .sidebar {
        float: none;
        width: 60%;
        margin: 0 auto;
        margin-bottom: 50px;
    }
}

@media(max-width: 850px) {
    .slider h1 {
        padding: 0 20px;
        padding-top: 100px;
    }
    .mid-form {
        width: 70%;
    }
}

@media(max-width: 420px) {
    .header {
        min-height: 130px;
        overflow: hidden;
    }
    .menu ul li {
        margin: auto 5px;
    }
    .slider {
        height: 180px;
    }
    .slider h1 {
        font-size: 1.25em;
        padding-top: 40px;
    }
    .slider .btn-white {
        margin-top: 20px;
        font-size: 1.25em;
        padding: 6px;
        box-sizing: border-box;
        width: 120px;
        height: 35px;
    }
    .slider.slider-small {
        height: 100px;
    }
    .slider.slider-small h1 {
        padding-top: 35px;
    }
}