<app-slider [name]="'Peliculas'" [size]="'small'"></app-slider>

<div class="center">
    <section class="content">

        <div *ngIf="favorite; else default">
            <h2 class="subheader">Pelicula Favorita</h2>
            {{favorite.title | uppercase}}
            <p>{{favorite.year | date: 'full'}}</p>
            <p>{{favorite.year | esPar}}</p>
            <h5> {{fecha | date: 'short'}} </h5>

        </div>
        <ng-template #default>
            <h2 class="subheader">Peliculas</h2>
        </ng-template>
        <!-- 

            <h3> {{titulo}} </h3>
            <button (click)="changeTitle()">Click me!</button>
            <hr />
            <div *ngIf="movies">
                <h2>Mostrar primera pelicula</h2>
                {{movies[0].title}}
                <hr />
                
                <h2>Numero de peliculas</h2>
                <div *ngIf="movies.length <= 3">
                    Hay pocas peliculas:
                </div>
                <div *ngIf="movies.length > 3">
                    Hay muchas peliculas:
                </div>
                {{movies.length}}
                <hr />
            </div>
            
        -->
        <div *ngIf="movies">
            <div *ngFor="let movie of movies">
                <app-movie [movie]="movie" (selectAsFavorite)="showFavorite($event)"></app-movie>
            </div>
        </div>
    </section>
    <app-sidebar></app-sidebar>
</div>
<div class="clearfix"></div>