<header class="header">
    <div class="center">
        <!-- logo -->
        <div class="logo">
            <img src="assets/images/angular.svg" alt="Logo de la web" class="app-logo">
            <div class="brand">
                <strong>Curso</strong>Angular
            </div>
        </div>
        <!-- menu -->

        <nav class="menu">
            <ul>
                <li>
                    <a [routerLink]="['/home']" [routerLinkActive]="['active']">Inicio</a>
                </li>
                <li>
                    <a [routerLink]="['/blog']" [routerLinkActive]="['active']">Blog</a>
                </li>
                <li>
                    <a [routerLink]="['/formulario']" [routerLinkActive]="['active']">Formulario</a>
                </li>
                <li>
                    <a [routerLink]="['/peliculas']" [routerLinkActive]="['active']">Peliculas</a>
                </li>
                <li>
                    <a [routerLink]="['/pruebas']" [routerLinkActive]="['active']">Pruebas</a>
                </li>
            </ul>
        </nav>
    </div>
    <!-- limpiar flotantes -->
    <div class="clearfix"></div>
</header>